/* Gilroy Font Family - Local Files */
@font-face {
  font-family: 'Gilroy';
  src:
    url('./gilroy-light.woff2') format('woff2'),
    url('./gilroy-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('./gilroy-regular.woff2') format('woff2'),
    url('./gilroy-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('./gilroy-medium.woff2') format('woff2'),
    url('./gilroy-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('./gilroy-semibold.woff2') format('woff2'),
    url('./gilroy-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('./gilroy-bold.woff2') format('woff2'),
    url('./gilroy-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
